{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>

    <!-- 這是新建 Author 網頁 -->
    <a href="{% url 'author_create' %}">Create New Author</a>

    <!-- 在 views.py 的 class AuthorListView 定義的 get_queryset()
    會自動傳送一個預設的變數名稱 author_list 過來，當作 list 清單網頁資料 -->

    {% if author_list %}
    <ul>

        {% for author in author_list %}
        <li>
            <!-- 這是 author 的 detail-view 網頁 -->
            <a href="{{ author.get_absolute_url }}">
                {{ author.first_name }}{{ author.last_name }}
            </a>
            - <a href="{% url 'author_update' author.id %}">Update</a>
            - <a href="{% url 'author_delete' author.id %}">Delete</a>
        </li>

        {% endfor %}
    </ul>

    {% else %}
      <p>There are no authors in the database.</p>
    {% endif %}
{% endblock %}