{% extends "base_generic.html" %}

{% block content %}
    <h1>All Borrowed Books</h1>

    {% if bookinstance_list %}
    <ul>
        {% for bookinst in bookinstance_list %}
        {% comment %} 如果書籍借閱過期了，就用紅色文字顯示 {% endcomment %}
        <li calss="{% if bookinst.is_overdue %}"text-danger{% endif %}>
            <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a>
            ({{ bookinst.due_back }}) {% if user.is_staff %}- {{ bookinst.borrower }} {% endif %}
              <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>
              <a href="{% url 'renew-book-librarian-modelform' bookinst.id %}">RenewByModelForm</a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}