<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 引用bootstrap相關css以及函式庫，可發現body的排版皆是使用bootstrap的語法:div -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  <!-- load static就是永遠會載入的路徑，使用方式:把常會載入的.css或.js放在static路徑下即可 -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- bootstrap常見的div排版方式:div -->
  <div class="container-fluid">

    <!-- 這個div row是用來當menu的，因為下方有引用自訂的css:sidebar-nav -->
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'books' %}">All books</a></li>
        <li><a href="{% url 'authors' %}">All authors</a></li>
        <!--讓使用者在未登入的狀態下，有個登入的選項可以按-->
        {% if user.is_authenticated %}
              <li>User: {{ user.get_username }}</li>
              <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
              <!--next={{request.path}}可以讓使用者在登入成功之後，回到當初同一個畫面-->
              <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
        {% else %}
               <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
        {% endif %}
      </ul>

      {% if user.is_staff %}
        <hr />
        <ul class="sidebar-nav">
        <li>Staff</li>
        {% if perms.catalog.can_view_all_borrowed_books %}
        <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
        {% endif %}
        </ul>
      {% endif %}

     {% endblock %}
      </div>

      <!-- 以下則是html主體 -->
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}

      {% comment %} 分頁機制 {% endcomment %}
      {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
      {% endblock %} 
      </div>
    </div>

  </div>
</body>
</html>